<!-- นายจิลลาภัทร คงเรือง 5902041620181 CED 4RA -->
<!DOCTYE html>
<html lang="en" dir="ltr">
    <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                            <!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Sign Up Member</h4>

	<form id="contract-form" action="{{ url_for('register') }}" method="POST">

        {{ form.csrf_token }}

	    <h2><tr><td>Name : </td><td>{{ form.name }} </td></tr></h2>
        <h2><tr><td>Lastname : </td><td> {{ form.last }} </td></tr></h2>
        <h2><tr><td>Email : </td><td> {{ form.email }}</td></tr></h2>
        {% for error in form.email.errors %}
            <tr><td colspan="2" align="center"><li style="color:red">{{ error }}</li></td></tr>
            <script language="JavaScript">alert("NEW Email NOW");</script>
        {% endfor %}
        <h2><tr><td>Username : </td><td> {{ form.username }} </td></tr></h2>
        <h2><tr><td>Password : </td><td> {{ form.password }} </td></tr></h2>
        {% for error in form.password.errors %}
            <tr><td colspan="2" align="center"><li style="color:red">{{ error }}</li></td></tr>
            <script language="JavaScript">alert("NEW PASSWORD NOW");</script>
        {% endfor %}
        <tr><td colspan="2" align="center"><input type="submit" value="Submit"/></td></tr>

</form>
</article>
    </body>
</head>
</html>
